*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-calculator {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}

button {
    width: 207px;
    padding: 6px 2px;
}