
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color : #887675;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
   
}


.container-textos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* margin: 0 auto; */
}

/* textarea {
    display: flex;
    width: 60vh;
    height: 15vh;
    border-radius: 12px;
    resize: none;    
} */
textarea{
    width: 400px;
    height: 120px;
    border-radius: 12px;
    padding: 10px;
    border: 2px solid black;
    outline: none;
    resize: none;
}

.contador {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 12px;
  color: gray;
  pointer-events: none;
  font-family: sans-serif;
}

textarea {
  padding-bottom: 24px; /* espacio para que el texto no tape el contador */
}