*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    display: flex;
    justify-content: center;
   
    align-items: center;
    height: 600px;
} */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado de center a flex-start para que no "flote" en el medio */
    padding-top: 50px;       /* Espacio arriba */
    min-height: 100vh;      /* Ocupa el 100% de la pantalla pero puede crecer más */
}
.one-question{
    display: flex;

    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: black;
    border-radius: 12px ;
}

p{
    color: white;
}

button{
   background: none;
   border: none;
}

button:hover{
    cursor: pointer;
}

svg{
    fill:white;
}
.container-questions {
    width: 90%;
    max-width: 500px;
}

.one-container {
    margin-bottom: 15px;    /* Espacio entre cada pregunta */
}